/*.pagButt {
    position:absolute;
    right:30px;
    background-color: gainsboro;
    border-radius:5px;
    padding:10px;
}*/
#userData {
    position:relative;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    width: 79%;
    min-height:300px;
    float: right;
}
th {
    text-align: center;
    border: 1px solid grey;
    padding:10px;
}
table {

    width:100%;
    border-top: 1px solid grey;
}
td {
    border: 1px solid grey;
    padding: 10px;
}
#userInfo{   

    background-color:beige;
    border-radius:10px;
    padding:20px;
}
#editUserInfo {
    text-align:center;
}
