html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.resultButton{
    visibility:hidden;
}
body{
    background-color:beige;
}
.userData {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding:5px;
    margin-right:10px;
}

    .userData:hover {
        background-color: beige;
        color: black;
    }
