@model List<Question>
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/main.css" />

<div id="menu">
    <ul>
        <li class="item" onclick="allTests()">Все тесты</li>
    @foreach(var cat in ViewBag.Categories as List<Category>)
    {
        <li class="item" onclick="chooseCategory(this)" id="@cat.CategoryId">@cat.Name</li>
    }
    </ul>
</div>
<div id="testList">
      
</div>
<div id="data-container"></div>
<div id="pagination-container"></div>