@model User
@{
}
<link rel="stylesheet" href="~/css/main.css" />
<link rel="stylesheet" href="~/css/cabinet.css" />

<div id="menu">
    <ul>
        <li class="item" onclick="profile()">Профиль</li>    
        <li class="item" onclick="diary()">Дневник</li>
    </ul>
</div>

<div id="userData">

</div>


@section Scripts{
    <script>
        window.onload = function () {
            $('#userData').load("/Account/Profile");
        }       
    </script>
}
