@model Testing.Models.Answer

@{
    ViewBag.Title = "Админка";
    Layout = "/Views/Shared/_BackendLayout.cshtml";
}

<h1>Добавление ответов</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionId" class="control-label"></label>
                <select asp-for="QuestionId" class ="form-control" asp-items="ViewBag.QuestionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="IsTrue" class="control-label"></label>
                <input asp-for="IsTrue" type="checkbox" value="true" />
                <span asp-validation-for="IsTrue" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 mt-3">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-secondary">Вернуться к списку</a>
</div>
@*<script>
    $(function(){
        $(".check").change(function(){
            $(this).closest('form').submit();
        })
    })
</script>*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
